body {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	min-height: 44px;
}

a:hover{
	    box-shadow: inset 30px 20px 0px red;
    color: yellow;
    text-shadow: -3px -3px 3px hotpink;
}

a {
	font-family: sans-serif;
	color: #fff;
	text-indent: 1rem;
	background-color: #ccc;
	display: inline-flex;
	flex: 1 1 20%;
	align-self: stretch;
	align-items: center;
	transition-duration: 3s,5s,1s;
	text-decoration: none;
}

a + a {
    border-left: 1px solid #aaa;
}

